@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post">
    <p>
        Login: <input type="text" asp-for="Login" />
    </p>
    <p>
        Password: <input type="text" asp-for="Pass" />
    </p>
    <p>
        <input type="submit" asp-page-handler="Unsafe" value="Log in (unsafe)" />
        <input type="submit" asp-page-handler="Safe" value="Log in (safe)" />
    </p>
</form>
<p>
    @this.Model.Secret
</p>